<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fibonacci</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    
	<div class="container">
		<div class="starter-template">
    		<h2>Fibonacci Sequence</h2>
		    <hr>
		    <p>
		    	This text area contains fibonacci sequence that you entered in from before.
		    </p>
		   	</br>
		    <textarea rows="10" cols="10" th:text="${fibonacci}" style="width: 300px; background-color: #C8C8C8" readonly></textarea>
		    <form action="#" th:action="@{/java_examples}" method="get">
		    	<input type="submit" name="@{/java_examples}" value="Back"/>
		    </form>
	    </div>
    </div>
	<div  th:replace="fragments/footer :: footer">
	</div>
</body>
</html>