<html xmlns:th="http://www.thymeleaf.org"> 
  <head>
  	<div th:fragment="footer-css">
	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" type="text/css"
	              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	
	    <!-- Custom styles for this template -->
	    <link rel="stylesheet" type="text/css" href="../../css/sticky-footer.css" th:href="@{/css/sticky-footer.css}" >
  	</div>
  </head>

  <body>
	  <div th:fragment="footer">
		<div class="navbar navbar-default navbar-fixed-bottom">
		    <div class="container">
		      <p class="navbar-text pull-left">&copy; 2019 - Site made by Jason Brown
		      </p>
		    </div>
		</div>
	  </div>
  </body>
</html>
